language: objective-c
os: osx
osx_image: xcode10.1
node_js: 10
cache:
  directories:
    - ./node_modules/
    - $HOME/Library/Caches/Homebrew
branches:
  only:
    - master
    - /^\d+(?:\.\d+)*$/

install:
  - brew install ttfautohint fontforge
before_script:
  - nvm install 10
script:
  - curl -L -o sketch.zip https://download.sketchapp.com/sketch-54.1-76490.zip
  - unzip -qo sketch.zip
  - export PATH=$PWD/Sketch.app/Contents/Resources/sketchtool/bin:$PATH
  - echo $PATH
  - sketchtool -v
  - npm install -g grunt-cli
  - npm install
  - grunt

deploy:
  - provider: npm
    skip_cleanup: true
    email: positivejs@ptsecurity.com
    api_key: $NPM_TOKEN
    on:
      branch: master
      tags: true
